@import 'variables.scss';

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  margin-bottom: 2px;
  background: white;
  color: $main-color;
  -webkit-box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.3);
  .logo {
    cursor: pointer;
    font-weight: 900;
    small{
      font-weight: 300;
    }
  }
  .mat-button {
    padding: 10px 15px;
    font-weight: bold;
  }
}